{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
    <h1>{{ _('Hello, %(username)s!', username=current_user.username) }}</h1>
    {% if form %}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    {% endif %}
    <br>
    {% for post in posts %}
        {% include "_post.html" %}
    {% endfor %}
    {% with  prev=_('Newer posts'), next=_('Older posts') %}
        {% include "_pager.html" %}
    {% endwith %}
{% endblock %}